<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[INTERNALAUDIT] %p [%t] %c{1} |%X{login}|%X{actions}|%X{doWhat}|%X{summary}|%m%n" />
			<!--
				<param name="ConversionPattern" value="[BODA] %p [%t] %c{1} | %m%n"
				/>
			-->
		</layout>
	</appender>
	<!--
		<appender name="JDBC_Oracle"
		class="org.apache.log4j.jdbc.JDBCAppender"> <param name="Threshold"
		value="BUSINESS" /> <param name="driver"
		value="oracle.jdbc.driver.OracleDriver" /> <param name="URL"
		value="jdbc:oracle:thin:@192.168.0.11:1521:" /> <param name="user"
		value="boda" /> <param name="password" value="boda" /> <layout
		class="org.apache.log4j.PatternLayout"> <param
		name="ConversionPattern" value="INSERT INTO LOG4J_LOG (Id, Login,
		Actions, DoWhat, Summary, Message,CreateDate, Priority, Category,
		Thread) VALUES (LOG4J_SEQUENCE.nextval, '%X{login}', '%X{actions}',
		'%X{doWhat}', '%X{summary}', '%m', sysdate, '%p', '%p', '%t')" />
		</layout> </appender>
	

	<appender name="JDBC_POOL_Oracle" class="net.sweet.log.appender.JDBCPoolAppender">
		<param name="Threshold" value="BUSINESS" />
		<param name="dsjndi" value="java:/comp/env/jdbc/creditDS" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="INSERT INTO LOG4J_LOG (Id, Login, Actions, DoWhat, Summary, Message,CreateDate, Priority, Category, Thread) VALUES (LOG4J_SEQUENCE.nextval, '%X{login}', '%X{actions}', '%X{doWhat}', '%X{summary}', '%m', sysdate, '%p', '%p', '%t')" />
		</layout>
	</appender>
-->

	<!-- Buffer events and log them asynchronously -->
	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="512" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="JDBC_POOL_Oracle" />
	</appender>
	<!--  -->
	<root>
		<appender-ref ref="ASYNC" />
	</root>

</log4j:configuration>